/** Globales **/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    line-height: 2;
    padding: 0;
}

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

h1 {
    font-size: 3.8rem;
}